{% extends "layout.html" %}
{% block body %}
	<script>
		var pollingStationGroupedByCommuneJson = {{ polling_station_grouped_by_commune_dict|tojson}};

		$(document).ready(function(){

			pollingStationDataRetrieved = false;

			// Initialize commune name dropdown list.
			// index is the name of the commune.
			// value is the name of the polling stations.
			$.each(pollingStationGroupedByCommuneJson, function(idx, value) {
				$('#commune_select')
					.append($("<option></option>")
					.attr("value", idx)
					.text(value.name)); 

				// Set the href for the commune summary pages.
				var communeSlug = $('#commune_select').find(":selected").val();
				setCommuneSummaryPageUrl(communeSlug);

				pollingStationDataRetrieved = true;
			});

			if(pollingStationDataRetrieved){
				// Initialize polling station name dropdown listin relation to default commune name.
				initPollingStationDropdown($('#commune_select').find(":selected").val());
				initVisualizeData();

				// When new communue is selected, re-initialize the polling station name dropdown list.
				$('#commune_select').change(function(){
					initPollingStationDropdown($(this).val());
					initVisualizeData();
				});

				// When new polling station is selected, open new window that presents data.
				$('#polling_station_select').change(function(){

					var communeSlug = $('#commune_select').find(":selected").val();
					var pollingStationSlug = $('#polling_station_select').find(":selected").val();

					// Set the href for the polling station summary pages.
					setPollingStationSummaryPageUrl(communeSlug, pollingStationSlug);

					visualizeData(communeSlug, pollingStationSlug);
				});		
			}
		});	
	</script>

	<div id="appInfoContainer">
		<h1>Let's get started</h1><hr/>
		<p>
			In the header, you can select an election monitoring organisation, election year, election type, and election round to begin visualising the data.
		</p>
		<p>
			For now, you can visualise the following election monitoring data collected by <a href="http://www.demokracianeveprim.org/en/">Democracy in Action</a> (DiA).:<br>
			<ul>
				<li><a href="{{ config.BASE_PATH }}/dia/2014/general-elections/first-round">2014 General Elections</a></li>
				<li><a href="{{ config.BASE_PATH }}/dia/2013/local-elections/first-round">2013 Local Elections: First Round</a></li>
				<li><a href="{{ config.BASE_PATH }}/dia/2013/local-elections/second-round">2013 Local Elections: Second Round</a></li>
			</ul>
		</p>

		<br>

		<h1>About this app</h1><hr/>
		<p>
			The Election Monitoring Visualiser is a <em>prototype</em> to showcase the use of the <a href="http://opendatakosovo.org/api/election-monitoring">Election Monitoring Data API</a>.
		</p>
		<p>
			It was developed by <a href="http://assemblio.com">Assemblio LLC</a> as an example of how governance data transparency can be promoted with software development under <a href="http://opendatakosovo.org">Open Data Kosovo</a>.
		</p>

		<br>

		<h1>Developers</h1><hr/>
		<p>
			Developers who wish to contribute can do so by implementing new features for the app itself or the API.
		</p>
		<p>
			The source code is available on <a href="https://github.com/opendatakosovo">Open Data Kosovo's GitHub account</a> in the <em><a href="https://github.com/opendatakosovo/election-monitoring-visualizer">election-monitoring-visualizer</a></em> and <em><a href="https://github.com/opendatakosovo/election-monitoring-api">election-monitoring-api</a></em> repositories.
		</p>
		<p>
			We care about sharing and improvements so both the Election Monitoring Visualiser and the Election Monitoring Data API are free and open <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU GPL v2.0</a> licensed softwares.
		</p>
		<p>
			Anyone who distributes the code or a derivative work is required to make the source available under the same terms.
		</p>
	</div>

	<div class="polling-station-selection-container">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="commune_select" class="control-label col-xs-2">Commune</label>
				<div class="col-xs-3">
					<select class="form-control" id="commune_select"></select>
				</div>
			</div>

			<div class="form-group">
				<label for="polling_station_select" class="control-label col-xs-2">Polling Station</label>
				<div class="col-xs-3">
					<select class="form-control" id="polling_station_select"></select>
				</div>
			</div>
		</form>

		<div align="right">
			<div>
				Access the summary page for this <a href="" target="_blank" id="commune-summary-link">commune</a> or <a href="" id="polling-station-summary-link" target="_blank">polling station</a>.
			</div>
		</div>
	</div>

	<div id="dataVisualizationContainer">
	</div>

	<br/><br/>
{% endblock %}
