{% extends "layout.html" %}
{% block body %}
	<script>
		var pollingStationGroupedByCommuneJson = {{ polling_station_grouped_by_commune_dict|tojson}};
	</script>


	<div id="appInfoContainer">
		<h1>Let's get started<hr/></h1>
		<p class="info-text">
			In the header, you can select an election monitoring organization, election year, election type, and election round to begin visualising the data.<br/>
			For now, you can visualise the <a href="/kdi/2013/local-elections/first-round">first round</a> and <a href="/kdi/2013/local-elections/second-round">second round</a> of the 2013 local elections monitoring data provided by the <a href="http://www.kdi-kosova.org/en/index.php">Kosova Democratic Institute</a> (KDI).<br/>
			We will soon process KDI's 2014 general elections monitoring data. 
		</p>

		<br/>

		<h1>About this app<hr/></h1>
		<p class="info-text">
			The Election Monitoring Visualiser is a <em>prototype</em> to showcase the use of the <a href="">Election Monitoring Data API</a>.<br/>
			It was developed by <a href="http://assemblio.com">Assemblio LLC</a> as an example of how good governance and transparency can be promoted with software development under <a href="http://opendatakosovo.org">Open Data Kosovo</a>.<br/>
		</p>

		<br/>

		<h1>Developers<hr/></h1>
		<p class="info-text">
			Developers who wish to contribute can do so by implementing new features for the app itself or the API.</br>
			The source code is available on <a href="https://github.com/opendatakosovo">Open Data Kosovo's GitHub account</a> in the <em><a href="https://github.com/opendatakosovo/election-monitoring-visualizer">election-monitoring-visualizer</a></em> and <em><a href="https://github.com/opendatakosovo/election-monitoring-api">election-monitoring-api</a></em> repositories.</br>
			We care about sharing and improvements so both the Election Monitoring Visualiser and the Election Monitoring Data API are free and open <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU GPL v2.0</a> licensed softwares.</br>
			Anyone who distributes the code or a derivative work is required to make the source available under the same terms.
		</p>
	</div>

	<div class="polling-station-selection-container">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="commune_select" class="control-label col-xs-2">Commune</label>
				<div class="col-xs-3">
					<select class="form-control" id="commune_select"></select>
				</div>
			</div>

			<div class="form-group">
				<label for="polling_station_select" class="control-label col-xs-2">Polling Station</label>
				<div class="col-xs-3">
					<select class="form-control" id="polling_station_select"></select>
				</div>
			</div>
		</form>
	</div>

	<div id="dataVisualizationContainer">
	</div>

	<br/><br/>
{% endblock %}
