<!doctype html>
<html>
	<head>
		<script>
			// This global variable that we use in election-monitoring-visualizer.js and election-selection-navbar.js
			var basePath = '{{ config.BASE_PATH }}';
		</script>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jQuery/jquery-1.11.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='election-monitoring-visualizer.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='election-selection-navbar.js') }}"></script>

		
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">

		<title>Kosovo Election Monitoring Visualiser (Prototype)</title>
	</head>

	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>	
					<a class="navbar-brand" href="{{ config.BASE_PATH }}">Kosovo Election Monitoring Visualiser <em>(Prototype)</em></a>
				</div>

				<!-- 
					Dropdown menu items are Hardcoded for now because we only have one dataset source (KDI).
					Will be dynamic once we have multiple dataset sources.
				--> 
				<div class="collapse navbar-collapse">
      				<ul class="nav navbar-nav" id="election-selection-navbar">
						<li class="dropdown election-observer">
							<a class="dropdown-toggle election-observer" data-toggle="dropdown">Observer <span class="caret"></span></a>
							<ul class="dropdown-menu election-observer" role="menu">
								<li><a href="{{ config.BASE_PATH }}/kdi" id="kdi">Kosova Democratic Institute</a></li>
							</ul>
						</li>
						<li class="dropdown election-year disabled">
							<a class="dropdown-toggle election-year disabled" data-toggle="dropdown">Year <span class="caret"></span></a>
							<ul class="dropdown-menu election-year" role="menu">
								<li><a href="{{ config.BASE_PATH }}/kdi/2013" id="2013">2013</a></li>
							</ul>
						</li>
						<li class="dropdown election-type disabled">
							<a class="dropdown-toggle election-type disabled" data-toggle="dropdown">Election Type <span class="caret"></span></a>
							<ul class="dropdown-menu election-type" role="menu">
								<li><a href="{{ config.BASE_PATH }}/kdi/2013/local-elections" id="local-elections">Local Elections</a></li>
							</ul>
						</li>
						<li class="dropdown election-round disabled">
							<a class="dropdown-toggle election-round disabled" data-toggle="dropdown">Election Round <span class="caret"></span></a>
							<ul class="dropdown-menu election-round" role="menu">
								<li><a href="{{ config.BASE_PATH }}/kdi/2013/local-elections/first-round" id="first-round">First Round</a></li>
								<li><a href="{{ config.BASE_PATH }}/kdi/2013/local-elections/second-round" id="second-round">Second Round</a></li>
							</ul>
						</li>
						<li id="search-button" class="disabled">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="" id="search-href">Search</a></li>	
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container" style="padding-top:10px;">
			{% block body %}{% endblock %}
		</div>

		<div class="push-for-footer"></div>

		<div class="footer">
			<div class="footer-container" align="center">
				<p class="text-muted">
					<br/>Made in Kosovo by <a href="http://assemblio.com" target="_blank">Assemblio LLC</a> with open data from <a href="http://opendatakosovo.org" target="_blank">Open Data Kosovo</a>.
					<br/>Source code available on <a href="https://github.com/opendatakosovo/election-monitoring-visualizer" target="_blank">GitHub</a>.
					<br/>
				</p>
			</div>
		</div>
	</body>

</html>
