{% extends "layout.html" %}
{% block body %}

<script>
	var pollingStationGroupedByCommuneJson = {{ polling_station_grouped_by_commune_dict|tojson}};

	function initPollingStationDropdown(communeSlug){

		// First clear the polling station drowpown list
		$('#voting-center option').remove();

		$('#voting-center')
				.append($("<option></option>")
				.attr("value", "")
				.text("")); 

		if(communeSlug != ""){
			var votingCenters = pollingStationGroupedByCommuneJson[communeSlug].votingCenters;

			$.each(votingCenters, function(index, obj) {
				$('#voting-center')
					.append($("<option></option>")
					.attr("value", obj.slug)
					.text(obj.name)); 
			});
		}

	}

	$(document).ready(function(){

		// Option to search in all communes
		$('#commune')
			.append($("<option></option>")
			.attr("value", "")
			.text("")); 

		// Initialize commune name dropdown list.
		// index is the name of the commune.
		// value is the name of the polling stations.
		$.each(pollingStationGroupedByCommuneJson, function(idx, value) {
			$('#commune')
				.append($("<option></option>")
				.attr("value", idx)
				.text(value.name)); 

			pollingStationDataRetrieved = true;
		});

		// Initialize polling station name dropdown listin relation to default commune name.
		//initPollingStationDropdown($('#commune').find(":selected").val());

		// When new communue is selected, re-initialize the polling station name dropdown list.
		$('#commune').change(function(){
			if($('#commune').find(":selected").val() == ""){

				$('#voting-center option').remove();

				// Option to search in all polling stations.
				$('#voting-center')
						.append($("<option></option>")
						.attr("value", "")
						.text("")); 

				$('#voting-center').attr('disabled', 'disabled');
			}else{
				$('#voting-center').removeAttr('disabled');
				initPollingStationDropdown($(this).val())
			}

			// Still want to submit even if disabled
			$('#voting-center-hidden').val($('#voting-center').find(":selected").val())
		});

		// Set the fields to previously selected values.
		// #FIXME: Should do this by passing form object to template instead of using javascript

		var query = window.location.search.substring(1);
		var params = query.split("&");

    	for (var i=0; i< params.length; i++){
			paramKeyValPair = params[i].split("=");
			elemId = paramKeyValPair[0];
			elemVal = paramKeyValPair[1];

			if($('#' + elemId).is(':checkbox') && elemVal == 'true'){
				$('#' + elemId).attr("checked", true);
				$('#' + elemId + '-label').addClass("active");
			}else{
				if(elemId == 'commune'){
					$('#voting-center').removeAttr('disabled');
					initPollingStationDropdown(elemVal);
				}

				if($('#' + elemId).val() == ''){
					$('#' + elemId).val(elemVal);
				}
			}
		}

	});
</script>

<form class="form-horizontal">

	<div class="form-group">
		<label for="commune" class="control-label col-xs-2">Commune</label>
		<div class="col-xs-3">
			<select class="form-control" id="commune" name="commune">
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="voting-center" class="control-label col-xs-2">Polling Station</label>
		<div class="col-xs-3">
			<select class="form-control" id="voting-center" name="voting-center" disabled="disabled">
				<option value=""></option>
			</select>
			<!-- Still want to submit even if disabled -->
			<input type="hidden" id="voting-center-hidden" name="voting-center" value="" />
		</div>
	</div>

	<div class="form-group">
		<label for="ultra-violet-control" class="control-label col-xs-2">Ultra Violet</label>
		<div class="col-xs-3">
			<select class="form-control" id="ultra-violet-control" name="ultra-violet-control">
				<option value=""></option>
				<option value="always">Always</option>
				<option value="sometimes">Sometimes</option>
				<option value="rarely">Rarely</option>
  				<option value="never">Never</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="finger-sprayed" class="control-label col-xs-2">Finger Sprayed</label>
		<div class="col-xs-3">
			<select class="form-control" id="finger-sprayed" name="finger-sprayed">
				<option value=""></option>
				<option value="always">Always</option>
				<option value="sometimes">Sometimes</option>
				<option value="rarely">Rarely</option>
  				<option value="never">Never</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-xs-2">
			Missing Materials
		</label>

		<div class="btn-group-vertical col-xs-3" data-toggle="buttons">
			<label class="btn btn-default" id="missing-voting-booth-label">
				<input type="checkbox" class="btn btn-default" name="missing-voting-booth" id="missing-voting-booth" value="true">Voting Booth
			</label>
			<label class="btn btn-default" id="missing-ballot-box-label">
				<input type="checkbox" class="btn btn-default" name="missing-ballot-box" id="missing-ballot-box" value="true">Ballot Box
			</label>
			<label class="btn btn-default" id="missing-ballots-label">
				<input type="checkbox" class="btn btn-default" name="missing-ballots" id="missing-ballots" value="true">Ballots
			</label>
			<label class="btn btn-default" id="missing-poll-book-label">
				<input type="checkbox" class="btn btn-default" name="missing-poll-book" id="missing-poll-book" value="true">Poll Book
			</label>
			<label class="btn btn-default" id="missing-uv-lamp-label">
				<input type="checkbox" class="btn btn-default" name="missing-uv-lamp" id="missing-uv-lamp" value="true">UV Lamp
			</label>
		</div>
	</div>

	<div class="form-group">
        <div class="col-xs-offset-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<hr>
<table class="table" style="width:800px">  
{% for observation in search_result %}
	{% if loop.index == 1 %}
		<thead>
		<tr>
			<th></th>
			<th>Commune</th>
			<th>Polling Station Name</th> 
			<th>Polling Station Number</th>
			<th>Room</th>
		</tr>
		</thead>
		<tbody>
	{% endif %}
		<tr>
			<td>
				{{ loop.index }}
			</td>
			<td>
				<a href="{{ config.BASE_PATH }}/{{ directory_path }}/{{ observation['votingCenter']['commune']['slug'] }}" target="_blank">{{ observation['votingCenter']['commune']['name'] }}</a>
			</td>
			<td>
				<a href="{{ config.BASE_PATH }}/{{ directory_path }}/{{ observation['votingCenter']['commune']['slug'] }}/{{ observation['votingCenter']['slug'] }}" target="_blank">{{ observation['votingCenter']['name'] }}</a>
			</td>
			<td>
				{{ observation['votingCenter']['number'] }}
			</td>
			<td>
				<a href="{{ config.BASE_PATH }}/{{ directory_path }}/{{ observation['votingCenter']['commune']['slug'] }}/{{ observation['votingCenter']['slug'] }}/{{ observation['votingCenter']['stationNumber'] }}" target="_blank">{{ observation['votingCenter']['stationNumber'] }}</a>
			</td>
		</tr>
{% endfor %}
  		</tbody>
</table>
{% endblock %}
