{% extends "layout.html" %}
{% block body %}

<script>
	var pollingStationGroupedByCommuneJson = {{ polling_station_grouped_by_commune_dict|tojson}};

	function initPollingStationDropdown(communeSlug){

		// First clear the polling station drowpown list
		$('#polling-station option').remove();

		$('#polling-station')
				.append($("<option></option>")
				.attr("value", "")
				.text("")); 

		var pollingStations = pollingStationGroupedByCommuneJson[communeSlug].pollingStations;

		$.each(pollingStations, function(index, obj) {
			$('#polling-station')
				.append($("<option></option>")
				.attr("value", obj.slug)
				.text(obj.name)); 
		});

	}

	$(document).ready(function(){

		// Option to search in all communes
		$('#commune')
			.append($("<option></option>")
			.attr("value", "")
			.text("")); 

		// Initialize commune name dropdown list.
		// index is the name of the commune.
		// value is the name of the polling stations.
		$.each(pollingStationGroupedByCommuneJson, function(idx, value) {
			$('#commune')
				.append($("<option></option>")
				.attr("value", idx)
				.text(value.name)); 

			pollingStationDataRetrieved = true;
		});

		// Initialize polling station name dropdown listin relation to default commune name.
		//initPollingStationDropdown($('#commune').find(":selected").val());

		// When new communue is selected, re-initialize the polling station name dropdown list.
		$('#commune').change(function(){
			if($('#commune').find(":selected").val() == ""){

				$('#polling-station option').remove();

				// Option to search in all polling stations.
				$('#polling-station')
						.append($("<option></option>")
						.attr("value", "")
						.text("")); 

				$('#polling-station').attr('disabled', 'disabled');
			}else{
				$('#polling-station').removeAttr('disabled');
				initPollingStationDropdown($(this).val())
			}

			// Still want to submit even if disabled
			$('#polling-station-hidden').val($('#polling-station').find(":selected").val())
		});	

	});
</script>

<form class="form-horizontal">

	<div class="form-group">
		<label for="commune" class="control-label col-xs-2">Commune</label>
		<div class="col-xs-3">
			<select class="form-control" id="commune" name="commune">
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="polling-station" class="control-label col-xs-2">Polling Station</label>
		<div class="col-xs-3">
			<select class="form-control" id="polling-station" name="polling-station" disabled="disabled">
				<option value=""></option>
			</select>
			<!-- Still want to submit even if disabled -->
			<input type="hidden" id="polling-station-hidden" name="polling-station" value="" />
		</div>
	</div>

	<div class="form-group">
		<label for="ultra-violet-control" class="control-label col-xs-2">Ultra Violet</label>
		<div class="col-xs-3">
			<select class="form-control" id="ultra-violet-control" name="ultra-violet-control">
				<option value=""></option>
				<option value="always">Always</option>
				<option value="sometimes">Sometimes</option>
				<option value="rarely">Rarely</option>
  				<option value="never">Never</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="finger-sprayed" class="control-label col-xs-2">Finger Sprayed</label>
		<div class="col-xs-3">
			<select class="form-control" id="finger-sprayed" name="finger-sprayed">
				<option value=""></option>
				<option value="always">Always</option>
				<option value="sometimes">Sometimes</option>
				<option value="rarely">Rarely</option>
  				<option value="never">Never</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-xs-2">
			Missing Materials
		</label>

		<div class="btn-group-vertical col-xs-3" data-toggle="buttons">
			<label class="btn btn-default">
				<input type="checkbox" class="btn btn-default" name="missing-voting-cabin" id="missing-voting-cabin" value="true">Voting Cabin
			</label>
			<label class="btn btn-default">
				<input type="checkbox" class="btn btn-default" name="missing-ballot-box" id="missing-ballot-box" value="true">Ballot Box
			</label>
			<label class="btn btn-default">
				<input type="checkbox" class="btn btn-default" name="missing-ballots" id="missing-ballots" value="true">Ballots
			</label>
			<label class="btn btn-default">
				<input type="checkbox" class="btn btn-default" name="missing-voters-book" id="missing-voters-book" value="true">Voters Book
			</label>
			<label class="btn btn-default">
				<input type="checkbox" class="btn btn-default" name="missing-uv-lamp" id="missing-uv-lamp" value="true">UV Lamp
			</label>
		</div>
	</div>

	<div class="form-group">
        <div class="col-xs-offset-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<hr>
<table class="table" style="width:800px">  
{% for observation in search_result %}
	{% if loop.index == 1 %}
		<thead>
		<tr>
			<th></th>
			<th>Commune</th>
			<th>Polling Station Name</th> 
			<th>Polling Station Number</th>
			<th>Room</th>
		</tr>
		</thead>
		<tbody>
	{% endif %}
		<tr>
			<td>
				{{ loop.index }}
			</td>
			<td>
				<a href="{{ config.BASE_PATH }}/{{ directory_path }}/{{ observation['pollingStation']['communeSlug'] }}" target="_blank">{{ observation['pollingStation']['commune'] }}</a>
			</td>
			<td>
				<a href="{{ config.BASE_PATH }}/{{ directory_path }}/{{ observation['pollingStation']['communeSlug'] }}/{{ observation['pollingStation']['nameSlug'] }}" target="_blank">{{ observation['pollingStation']['name'] }}</a>
			</td>
			<td>
				{{ observation['pollingStation']['number'] }}
			</td>
			<td>
				<a href="{{ config.BASE_PATH }}/{{ directory_path }}/{{ observation['pollingStation']['communeSlug'] }}/{{ observation['pollingStation']['nameSlug'] }}/{{ observation['pollingStation']['roomNumber'] }}" target="_blank">{{ observation['pollingStation']['roomNumber'] }}</a>
			</td>
		</tr>
{% endfor %}
  		</tbody>
</table>
{% endblock %}
