{% extends "layout.html" %}
{% block body %}

<form name = "form">
     
    <div>Search the KDI MongoDB Database with different parameters</div>
     
    <!-- where our search value will be entered -->
	Commune Name: <input type="text" name="commune"/> 

	PollingStation Name: <input type="text" name="pollingStation"/> <br>

	Ultra Violet Control:<select name="ultraVioletControl">
  					 	 		<option value="always">Always</option>
  								<option value="never">Never</option>
     					 </select>

	Finger Sprayed:<select name="fingerSprayed">

  						<option value="always">Always</option>
  						<option value="never">Never</option>

    				 </select>
	
	
    <!-- This button will call our JavaScript Search functions -->
    <input type="submit" value="Search" id="search-btn" />
</form>
 
<div id = "s-results">
    <!-- This is where our search results will be displayed -->
</div>


<table  class="table" style="width:900px">
	  <tbody>
			<tr>
					  <th>Nr</th>
		 			  <th>Commune</th>
					  <th>Polling Station Name</th> 
					  <th>Polling Station Number</th>
					  <th>Polling Station Room Number</th>
			</tr>
	  
	  
		{% for k in searchResults %}
		  <tr>
				<td>{{ loop.index }}</td>
		    	<td>
					<a href="http://127.0.0.1:5000/kdi/2013/local-elections/first-round/{{k['pollingStation']['communeSlug']}}">{{k['pollingStation']['commune']}}</a>
				</td>
				<td>
					<a href="http://127.0.0.1:5000/kdi/2013/local-elections/first-round/{{k['pollingStation']['communeSlug']}}/{{k['pollingStation']['nameSlug']}}">{{k['pollingStation']['name']}}</a>
				</td>
				<td>
					{{k['pollingStation']['number']}}
				</td>
				<td>
					<a href="http://127.0.0.1:5000/kdi/2013/local-elections/first-round/{{k['pollingStation']['communeSlug']}}/{{k['pollingStation']['nameSlug']}}/{{k['pollingStation']['roomNumber']}}">{{k['pollingStation']['roomNumber']}}</a>
				</td>
		  </tr>
		{% endfor %}
	  </tbody>
</table>


{{ pagination.info|safe }}

<script type = "text/javascript">
$(document).ready(function(){
    //load the current contents of search result
    $('#s-results').load('http://127.0.0.1:5000/search').show();
$('#search-btn').click(function(){ showValues(); });

$(function() {
 $('form').bind('submit',function(){ 
	showValues(); 
	return false; }); 
 }); 
function showValues() {

 
$('#s-results').html('<p><img src="images/ajax-loader.gif" />
	</p>'); //this will pass the form input 
$.post('http://127.0.0.1:5000/search', { name: form.name.value }, //then print the result function(result){ $('#s-results').html(result).show(); }); } });
</script>



{% endblock %}
