<!doctype html>
<html>
	<head>
		<script>
			var pollingStationGroupedByCommuneJson = {{ polling_station_grouped_by_commune_dict|tojson}};
		</script>
		<script type="text/javascript" src="/static/jQuery/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="/static/election-monitoring-visualizer.js"></script>
	</head>
	<body>
		<select id="commune_select">
		</select>

		<select id="polling_station_select">
		</select>

		<br/><br/><br/>
		<div id="kvvMembersPieChartsContainer"/>
		</div>

		<div id="irregularitiesTableContainer"/>
		</div>

	</body>

</html>
