<!doctype html>
<head> 

<script src="/static/Chartjs/Chart.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<head>
</head>
<body>	
   <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
	["Number of votes by hour", "Time" ],
        ["10:00",  {{votesByHour['result'][0]['tenAM']}} ],
	["13:00", {{votesByHour['result'][0]['onePM']}} ],
	["16:00", {{votesByHour['result'][0]['sevenPM']}} ],
	["19:00", {{votesByHour['result'][0]['fourPM']}} ]
      ]);

         var options = {
          title: 'Number of votes by hour',
			is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('columnchart_values'));
        chart.draw(data, options);
      }
</script>
<div id="columnchart_values" style="width: 900px; height: 300px;"></div>
	

<script type="text/javascript">

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
    var data = google.visualization.arrayToDataTable([
	["Observators in PollingStation, distributed by gender", "Gender", { role: "style" } ],
       
	["Male", {{ kvvMGD['result'][0]['total'] - kvvMGD['result'][0]['totalFemale'] }}, "gold"],
	["Female", {{ kvvMGD['result'][0]['totalFemale'] }}, "pink"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
	title: "Observators in PollingStation, distributed by gender",
	width: 600,
	height: 400,
	bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("chartByGender"));
      chart.draw(view, options);
  }
</script>
<div id="chartByGender" style="width: 900px; height: 300px;"></div>
{{kittens}}
</body>
</html>
