{% extends "layout.html" %}
{% block body %}
<!-- 
we will preload the loader image 
to show it instantly on search 
-->
<div style='display:none;'>
    <img src="images/ajax-loader.gif" />
</div>
 
<form name = "form">
     
    <div>Search the KDI MongoDB Database with different parameters</div>
     
    <!-- where our search value will be entered -->
	Commune Name:<input type="text" name="commune"/> 
	PollingStation Name:<input type="text" name="pollingStation"/> <br>
	Ultra Violet Control:<select name="ultraVioletControl">
  		<option value="always">Always</option>
  		<option value="never">Never</option>
     </select>
	Finger Sprayed:<select name="fingerSprayed">
  		<option value="always">Always</option>
  		<option value="never">Never</option>
     </select>
	
	
    <!-- This button will call our JavaScript Search functions -->
    <input type="submit" value="Search" id="search-btn" />
</form>
 
<div id = "s-results">
    <!-- This is where our search results will be displayed -->
</div>
 
<!-- import jQuery file -->
<script type='text/javascript' src='js/jquery-1.4.2.min.js'></script>


	<table class="table table-bordered" style="width:900px">
		<tr>
			  <th>Commune</th>
			  <th>Polling Station Name</th> 
			  <th>Polling Station Number</th>
			  <th>Polling Station Room Number</th>
		  {% for k in searchResults %}
		</tr>
			<tr>
				<td><a href="http://127.0.0.1:5000/observation/{{k['pollingStation']['commune']}}">{{k['pollingStation']['commune']}}</a></td>
				<td>
<a href="http://127.0.0.1:5000/observation/{{k['pollingStation']['commune']}}/{{k['pollingStation']['name']}}">

				{{k['pollingStation']['name']}}
</a></td>
				<td>{{k['pollingStation']['number']}}</td>
				<td>
<a href="http://127.0.0.1:5000/observation/{{k['pollingStation']['commune']}}/{{k['pollingStation']['name']}}/{{k['pollingStation']['roomNumber']}}">

				{{k['pollingStation']['roomNumber']}}
</a></td>
			</tr>
		  {%endfor%}
	</table>
<script type = "text/javascript">
$(document).ready(function(){
    //load the current contents of search result
    //which is "Please enter a name!"
    $('#s-results').load('http://127.0.0.1:5000/search').show();
$('#search-btn').click(function(){ showValues(); });

$(function() {
 $('form').bind('submit',function(){ 
	showValues(); 
	return false; }); 
 }); 
function showValues() {

 //loader will be show until result from //search_results.php is shown 
$('#s-results').html('<p><img src="images/ajax-loader.gif" />
	</p>'); //this will pass the form input 
$.post('http://127.0.0.1:5000/search', { name: form.name.value }, //then print the result function(result){ $('#s-results').html(result).show(); }); } });
</script>

{% endblock %}
